-- rename to settings.lua in production.

local settings_module = {}

settings_module.prefix = "/"

settings_module.webhooks = {
	warningLogs = "",
	joinLogs = "",
	adminLogs = "",
}

settings_module.access_levels = {
	moderator = 1,
	administrator = 2,
	supervisor = 3,
	leader = 4,
}

settings_module.users_access_levels = {
	groups = {
		{
			group_id = 0,
			ranks = {
				{
					rank_id = 0,
					access_level = settings_module.access_level.moderator,
				},
			},
		},
	},
	users = {
		{
			player_id = 0,
			access_level = settings_module.access_level.moderator,
		},
	},
}

settings_module.kick_message = ""
settings_module.ban_message = ""

return settings_module